<div class="container" style="margin-top: 20vh">


<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="text" id="form2Example1" class="form-control border border-primary"  formControlName="username" required autofocus />
   
  </div>


  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control border border-primary"  formControlName="password" required autofocus />
 
  </div>




  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>


  <div class="text-center">
    <p>Not a member? 
    
      <a [routerLink]="['/signup']" >
        Register
      </a>

    </p>
    
  </div>
</form>

</div>